@import 'tailwindcss';

:root {
  --background: #ffffff;
  /*--foreground: #171717;*/
  --header-h: 65px;
  --container-max: 1400px;
  --app-bg: #f9fafb;
  --page-pb: 64px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

html,
body {
  @apply size-full;
  font-family: var(--font-pretendard);
}

body {
  background: var(--background);
  color: var(--foreground);
}

button {
  @apply cursor-pointer disabled:cursor-default;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes float-delayed {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes float-slow {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float-delayed 3.5s ease-in-out infinite;
}

.animate-float-slow {
  animation: float-slow 4s ease-in-out infinite;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 9999px;
  display: inline-block;
  animation: dot-bounce 900ms ease-in-out infinite;
  will-change: transform, opacity;
}

.d1 {
  animation-delay: 0ms;
}

.d2 {
  animation-delay: 140ms;
}

.d3 {
  animation-delay: 280ms;
}

@keyframes dot-bounce {
  0% {
    transform: translateY(0);
    opacity: 0.5;
  }
  35% {
    transform: translateY(-5px);
    opacity: 1;
  }
  70% {
    transform: translateY(0);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
}
